.checkbox {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: rem(20);
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.5);
		}
		&:checked + .checkbox__label:before {
			content: "\e903";
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: rem(20);
		&:before {
			content: "";
			@extend %ic;
			align-self: flex-start;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: rem(14);
			color: $bgButtonOrange;
			width: rem(34);
			height: rem(34);
			flex: 0 0 rem(34);
			background-color: $checkboxBg;
			border-radius: rem(4);
		}
	}
	// .checkbox__text
	&__text {
		font-size: rem(16);
		line-height: 103.1%;
		color: $calculatorTitle;
	}
}
