//========================================================================================================================================================
//О нас
.about {
	@include adaptiveValue("padding-bottom", 90, 30, $containerWidth, $minWidth, 1);
	&__grid {
		display: grid;
		grid-template-columns: percent(391, 1140) 1fr;
		@include adaptiveValue("gap", 60, 20, $containerWidth, 992, 1);
		align-items: center;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__image-ibg {
		height: 0;
		cursor: pointer;
		align-self: start;
		padding-bottom: 79%;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		@media (min-width: $mobile) {
			padding-bottom: percent(603, 391);
		}
	}

	&__subtitle {
		font-size: rem(14);
		line-height: 157.6%;
		text-transform: uppercase;
		letter-spacing: 0.675em;
		color: $subtitleAbout;
		margin-bottom: rem(17);
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: em(48, 60);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 20, 16, $containerWidth, $minWidth, 1);
		line-height: 157.6%;
		color: $greyText;
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 30, 20, $containerWidth, $minWidth, 1);
			}
		}
	}
}
.about-row {
	@include adaptiveValue("padding-top", 85, 30, $containerWidth, $minWidth, 1);
	@include adaptiveValue("padding-bottom", 85, 30, $containerWidth, $minWidth, 1);

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(260), 1fr));
		@include adaptiveValue("gap", 30, 15, $containerWidth, 768, 1);
		.aside-building__title {
			max-width: 100%;
		}
	}
}
.about-text {
	@include adaptiveValue("padding-top", 90, 30, $containerWidth, $minWidth, 1);
	@include adaptiveValue("padding-bottom", 90, 30, $containerWidth, $minWidth, 1);
	@include adaptiveValue("font-size", 20, 16, $containerWidth, $minWidth, 1);
	line-height: 157.6%;
	color: $greyText;
	p {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20, $containerWidth, $minWidth, 1);
		}
	}
}

//========================================================================================================================================================
