//========================================================================================================================================================
//Готовые бойлеры
.ready-boiler {
	@include adaptiveValue("padding-bottom", 110, 30, $containerWidth, $minWidth, 1);
	&__title {
		&:not(:last-child) {
			margin-bottom: em(45, 60);
		}
	}

	&__text {
		font-size: rem(20);
		line-height: 157.6%;
		color: $greyText;
	}
}
//========================================================================================================================================================
