//========================================================================================================================================================
//Строительный блок
.building {
	display: grid;
	grid-template-columns: 1fr rem(290);
	@include adaptiveValue("gap", 90, 20, $containerWidth, 992, 1);
	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: em(45, 60);
		}
	}

	&__text {
		font-size: rem(20);
		color: $greyText;
		line-height: 157.6%;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 50, 20, $containerWidth, $minWidth, 1);
	}

	&__aside {
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(20);
		@media (max-width: $mobile) {
			gap: rem(15);
			grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
		}
	}
}
//========================================================================================================================================================
//Calculator
.calculator {
	@include adaptiveValue("padding-top", 80, 30, $containerWidth, $minWidth, 1);
	@include adaptiveValue("padding-bottom", 80, 30, $containerWidth, $minWidth, 1);

	&__note {
		font-size: rem(12);
		line-height: 157.6%;
		color: $greyText;
	}
	&__title {
		text-align: center;
		@include adaptiveValue("margin-bottom", 70, 20, $containerWidth, $minWidth, 1);
	}
	&__form {
		@include adaptiveValue("margin-bottom", 60, 20, $containerWidth, $minWidth, 1);
		grid-template-areas:
			"power power img img"
			"quantity length img img"
			"type maker img img"
			"checkbox select submit submit";
		grid-auto-rows: auto;
		@include adaptiveValue("row-gap", 70, 20, $containerWidth, $minWidth, 1);
		@include adaptiveValue("column-gap", 30, 20, $containerWidth, $minWidth, 1);
		grid-template-columns: repeat(4, 1fr);
		@media (max-width: $tablet) {
			grid-template-areas:
				"power quantity length"
				"type maker select"
				"checkbox submit submit"
				"img img img";
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: em(850)) {
			grid-template-areas:
				"power power"
				"length quantity"
				"type maker"
				"select select"
				"checkbox checkbox"
				"submit submit"
				"img img";
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em(550)) {
			grid-template-areas:
				"power"
				"length"
				"quantity"
				"type"
				"maker"
				"select"
				"checkbox"
				"submit"
				"img";
			grid-template-columns: 1fr;
		}
	}
}

//========================================================================================================================================================
